@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@media(min-width:300px) {
    .headertext {
        font-weight: bold;
        font-size: large;
        color: white;
        position: absolute;
        left: 10%;
        top: 15%;
    }


    .desktopnav {
        display: none;
    }

    .cantine img {
        width: 80%;
    }
}

#menuToggle {
    display: block;
    position: fixed;
    top: 2%;
    left: 2%;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: blue;
}


#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
}


#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #D3D3D3;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: black;
}


#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menuToggle input:checked~ul {
    transform: none;
}



body {
    margin: 0;
    background: white;
    color: #cdcdcd;
    font-family: 'Quicksand', sans-serif;
}


.header {
    margin: 0;
    width: 100%;
}

.content {
    text-align: center;
    color: black;
}

button {
    border: 3px solid yellow;
    background-color: white;
    color: yellow;
    border-radius: 15px;
    padding: 5px;
}

button:active {
    border: 3px solid yellow;
    background-color: yellow;
    color: white;
}

.item {
    margin-left: 2%;
    margin-right: 2%;
}

.about p {
    margin-left: 10%;
    margin: 0 auto;
    width: 50%;
}

.aboutslide {

    width: 40%;
    margin-top: 30px;
}

.aboutslide img {
    border-radius: 15px;
    padding: 10px;
}

.news {
    background-color: white;
}

.cantine {
    background-color: white;
    color: black;
    margin: 2%;
}

.cantine img {
    padding: 5px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    padding: 5px 10px;
    background-color: yellow;
    text-align: center;
    display: block;
    width: 100%;

    -webkit-user-select: none;
    user-select: none;

}

.content {
    text-align: center;
    color: black;

}

button {
    border: 3px solid yellow;
    background-color: white;
    color: black;
    width: 70%;
    border-radius: 15px;
    padding: 5px;
}

button:active {
    border: 3px solid yellow;
    background-color: yellow;
    color: black;
}

.item {
    margin-left: 4%;
    margin-right: 4%;
}

.aboutslide {
    margin-left: 20%;
    margin-right: 20%;
}

.aboutslide img {
    border-radius: 15px;
    padding: 10px;
    padding-left: 30%;
}

.tshirt {
    margin-top: 50px;
    margin-left: 10%;
}

#news {
    background-color: lightyellow;
}

#cantine {
    background-color: white;
    color: black;
}

#cantine img {
    padding: 5px;
}

#footer {
    width: 100%;
    background-color: lightsteelblue;
    color: black;

}

.contact {
    margin-left: 10%;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 200px 200px;
    grid-gap: 30px;
}

.arange {
    padding-bottom: 5px;
}

.arange img {
    display: block;
    margin: 0 auto;
    padding-bottom: 15px;
    clear: both;
    padding-right: 2%;
    padding-bottom: 0px;
}

.imag img {
    align-items: center;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.bread a {
    margin-left: 35%;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    padding: 5px 0px;
    background-color: white;
    text-align: center;
    width: 40%;
    border: 3px solid yellow;
    display: inline-block;
    vertical-align: middle;
    margin-left: 25%;
}

a.button:active {
    background-color: yellow;
}

.social {
    padding-top: 10%;
    width: 100%;
    text-align: center;
}

.social img {
    width: 25px;
}

.tel1 {
    text-align: center;
}

.arange {
    align-content: center;
}

#ctc {
    text-align: center;
}

.search {
    background-color: white;
    width: 100%;
}

.filterDiv {
    float: left;
    background-color: white;
    color: black;
    border: 3px solid yellow;
    width: 40%;
    height: 40%;
    text-align: center;
    margin: 2px;
    display: none;
    border-radius: 15px;
    margin-left: 5%;

}

.show {
    display: block;
}

.myBtnContainer {

    margin-left: 2%;
}

.container {
    margin-top: 20px;
    overflow: hidden;
}

.btn {
    border: none;
    outline: none;
    padding: 12px;
    background-color: white;
    color: black;
    border: 3px solid yellow;
    cursor: pointer;
    width: 18%;
    height: 15%;
    font-size: auto;
}


.btn.active {
    background-color: yellow;
    color: black;
}

.it {
    color: black;
}

.btn:checked {
    background-color: yellow;
    color: black;

}

.programma {
    color: black;

}

.Pr h1 {
    text-align: center;
    color: black;
}

.programma button {
    background-color: lightyellow;
}




@media (min-width: 768px) {
    .content {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .content p {
        text-align: center;
    }

    .About {
        margin-bottom: 50px;
        margin-left: 8%;
        width: 80%;
    }

    .button {
        margin-left: 30px;
    }

    .imgb {
        margin-top: 50px;
    }

    .bread {

        margin-top: 50px;
        margin-left: 10%;
    }

    .bread img {
        width: 80%;
    }

    .headertext {
        font-weight: bold;
        font-size: 40pt;
        color: white;
        position: absolute;
        left: 10%;
        top: 25%;
    }

    #lol {
        font-size: 14pt;

    }

    .checkbox {
        display: none;
    }

    #menu {
        display: none;
    }

    #menuToggle {
        display: none;
    }

    .desktopnav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.4);
    }

    .logo {

        z-index: 10;
    }

    .logo img {
        width: 50px;
        margin-left: 10px;
        margin-top: 10px;

    }

    .nav {

        z-index: 10;
        text-decoration: none;

    }

    .nav ul {

        list-style-type: none;
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    .fuu li a {
        text-align: right;
    }

    .fuu ul {

        list-style-type: none;
        text-decoration: none;
    }

    .fuu li {

        list-style-type: none;
        text-decoration: none;
    }

    .nav li {
        text-decoration: none;
        float: left;
        padding: 0px 10px;

    }

    .nav li a {

        display: block;
        color: black;
        font-weight: bold;

    }

    .fuu a {
        text-decoration: none;
    }

    .news {
        align-items: center;
    }

    #footer {
        font-size: 20px;
    }

    .cam h2 {
        text-align: center;
        padding-bottom: 20px;
    }

    .cam {
        display: flex;
        text-align: left;
        margin-left: 5%;

    }

    .about {
        flex: 1;
    }

    .aboutslide {
        width: 50%;
        margin-right: 5%;
    }

    .programma {
        text-align: left;
        width: 50%;
    }

    .programma button {
        width: 30%;
    }

    .tshirt {}

    .foto {
        margin-top: 5%;
        width: 100%;
        height: auto;

    }

    .it {
        text-align: left;
        flex: 1;
    }

    .ct {
        text-align: left;
        margin: 0% 8%;
    }

    .cantine img {
        padding: 2%;
        width: 70%;
        margin-left: 6%;

    }

    .cantine {
        margin-top: 50px;
    }

    .but {
        margin-top: 20px;
        margin-bottom: 50px;
        width: 30%;
        margin-left: 35%;
    }

    .fu {}

    .imgb img {
        width: 80%;
        margin-left: 8%;
    }
}